.header {
  width: 100%;
  position: sticky;
  top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  // border-bottom: 2px solid rgb(97, 220, 242);
  border-bottom: 1px solid rgb(155, 149, 149);

  font-size: 25px;
  color: black;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
