* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100%;
  background: #fff;
  //   background-image: url(../images/neonbrand-dDvrIJbSCkg-unsplash.jpg);
  //   background-size: contain;
}
